.sidebar-header {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem 0;

	h1 {
		margin: 0;
	}

	a {
		letter-spacing: 2px;
		font-size: 1.5rem;
		text-decoration: none;
		text-transform: uppercase;
		color: var(--primary-color);
	}
}
